@import '../../variables.scss';

.mainSearch {
    display: grid !important;
    font-size: 1.2rem;
    width: 100%;
    grid-template-columns: 7rem auto 4rem;
    gap: .8rem;
    border: 1px solid $lightBorderColor;
    border-radius: .5rem;

    .method {
        text-align: center;
        padding: .4rem .8rem;
    }

    button {
        border-radius: 0px;
        transition: filter .2s ease;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &, &:active, &:hover, &:focus {
            border: none;
        }

        &:hover {
            filter: brightness(85%);
        }
    }

    &_input {
        height: 100%;
        box-sizing: border-box;
        font-size: 1rem;
    }
}